In [48]:
from __future__ import absolute_import, division, print_function, unicode_literals
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output, display
from six.moves import urllib
import tensorflow.compat.v2.feature_column as fc
import tensorflow as tf

In [49]:
df_train = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')
df_test = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv')

y_train = df_train.pop('survived')
y_test = df_test.pop('survived')

display(df_train)

,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,female,35.0,1,0,53.1000,First,C,Southampton,n
4,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...
622,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,female,19.0,0,0,30.0000,First,B,Southampton,y
625,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

In [50]:
NUMERIC_COLUMNS = ['age', 'fare']
CATEGORICAL_COLUMNS = [val for val in df_train.columns.values if val not in NUMERIC_COLUMNS]

feature_columns = []
for feature_name in CATEGORICAL_COLUMNS:
    vocabulary = df_train[feature_name].unique()
    feature_columns.append(tf.feature_column.categorical_column_with_vocabulary_list(feature_name, vocabulary))

for feature_name in NUMERIC_COLUMNS:
    feature_columns.append(tf.feature_column.numeric_column(feature_name, dtype=tf.float32))

print(feature_columns)

[VocabularyListCategoricalColumn(key='sex', vocabulary_list=('male', 'female'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='n_siblings_spouses', vocabulary_list=(1, 0, 3, 4, 2, 5, 8), dtype=tf.int64, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='parch', vocabulary_list=(0, 1, 2, 5, 3, 4), dtype=tf.int64, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='class', vocabulary_list=('Third', 'First', 'Second'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='deck', vocabulary_list=('unknown', 'C', 'G', 'A', 'B', 'D', 'F', 'E'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='embark_town', vocabulary_list=('Southampton', 'Cherbourg', 'Queenstown', 'unknown'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='alone', vocabulary_list=('n', 'y'), dtype=tf.string, default_value=-1, num_oov_buckets=0), NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='fare', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [51]:
def make_input_function(df, target, epochs=10, shuffle=True, batch_size=32):
    def input_function():
        ds = tf.data.Dataset.from_tensor_slices((dict(df), target))
        if shuffle:
            ds = ds.shuffle(1000)
        ds = ds.batch(batch_size).repeat(epochs)
        return ds
    return input_function

train_input_fn = make_input_function(df_train, y_train)
test_input_fn = make_input_function(df_test, y_test, epochs=1, shuffle=False)

linear_est = tf.estimator.LinearClassifier(feature_columns=feature_columns)
clear_output()

In [77]:
linear_est.train(train_input_fn)
result = linear_est.evaluate(test_input_fn)
clear_output()

display(result['accuracy'])

0.7878788

In [72]:
result = list(linear_est.predict(test_input_fn))
clear_output()

for i in range(len(result)):
    print(df_test.loc[i])
    print(f"{result[i]['probabilities'][1]} : {y_test.loc[i]}")
    print('\n')

sex                          male
age                          35.0
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 0, dtype: object
0.132634237408638 : 0


sex                          male
age                          54.0
n_siblings_spouses              0
parch                           0
fare                      51.8625
class                       First
deck                            E
embark_town           Southampton
alone                           y
Name: 1, dtype: object
0.5779874920845032 : 0


sex                        female
age                          58.0
n_siblings_spouses              0
parch                           0
fare                        26.55
class                       First
deck                            C
embark_town           Southampton
alone                           y
Name: 2, dtype: object
0.8570652008056641 : 1


sex                        female
age                          55.0
n_siblings_spouses              0
parch                           0
fare                         16.0
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 3, dtype: object
0.8082162141799927 : 1


sex                          male
age                          34.0
n_siblings_spouses              0
parch                           0
fare                         13.0
class                      Second
deck                            D
embark_town           Southampton
alone                           y
Name: 4, dtype: object
0.3855607509613037 : 1


sex                       female
age                         15.0
n_siblings_spouses             0
parch                          0
fare                      8.0292
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          y
Name: 5, dtype: object
0.8002910017967224 : 1


sex                        female
age                           8.0
n_siblings_spouses              3
parch                           1
fare                       21.075
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 6, dtype: object
0.6269616484642029 : 0


sex                          male
age                          21.0
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 7, dtype: object
0.15536369383335114 : 0


sex                        female
age                          18.0
n_siblings_spouses              2
parch                           0
fare                         18.0
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 8, dtype: object
0.6940110921859741 : 0


sex                       female
age                         19.0
n_siblings_spouses             0
parch                          0
fare                      7.8792
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          y
Name: 9, dtype: object
0.7915117740631104 : 1


sex                       female
age                         28.0
n_siblings_spouses             0
parch                          0
fare                        7.75
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          y
Name: 10, dtype: object
0.7710433602333069 : 1


sex                          male
age                          21.0
n_siblings_spouses              0
parch                           0
fare                          7.8
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 11, dtype: object
0.1550855040550232 : 0


sex                        female
age                           5.0
n_siblings_spouses              1
parch                           2
fare                        27.75
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 12, dtype: object
0.8689838647842407 : 1


sex                        male
age                        28.0
n_siblings_spouses            0
parch                         0
fare                    27.7208
class                     First
deck                    unknown
embark_town           Cherbourg
alone                         y
Name: 13, dtype: object
0.5075162053108215 : 0


sex                        female
age                          29.0
n_siblings_spouses              0
parch                           0
fare                         10.5
class                      Second
deck                            F
embark_town           Southampton
alone                           y
Name: 14, dtype: object
0.8933631777763367 : 1


sex                        female
age                          16.0
n_siblings_spouses              5
parch                           2
fare                         46.9
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 15, dtype: object
0.6382803916931152 : 0


sex                        male
age                        26.0
n_siblings_spouses            1
parch                         0
fare                    14.4542
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         n
Name: 16, dtype: object
0.22870659828186035 : 0


sex                        female
age                          17.0
n_siblings_spouses              0
parch                           0
fare                         10.5
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 17, dtype: object
0.8691196441650391 : 1


sex                        female
age                          33.0
n_siblings_spouses              3
parch                           0
fare                        15.85
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 18, dtype: object
0.5000077486038208 : 1


sex                          male
age                          29.0
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 19, dtype: object
0.14200985431671143 : 0


sex                          male
age                          20.0
n_siblings_spouses              0
parch                           0
fare                       7.8542
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 20, dtype: object
0.15688319504261017 : 0


sex                          male
age                          26.0
n_siblings_spouses              1
parch                           2
fare                       20.575
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 21, dtype: object
0.12360391765832901 : 0


sex                        female
age                          21.0
n_siblings_spouses              0
parch                           0
fare                         7.65
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 22, dtype: object
0.7420670986175537 : 1


sex                          male
age                          38.0
n_siblings_spouses              0
parch                           0
fare                       7.8958
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 23, dtype: object
0.12800008058547974 : 0


sex                        female
age                          20.0
n_siblings_spouses              1
parch                           0
fare                        9.825
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 24, dtype: object
0.7356112599372864 : 0


sex                        female
age                           2.0
n_siblings_spouses              4
parch                           2
fare                       31.275
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 25, dtype: object
0.6117836833000183 : 0


sex                          male
age                          21.0
n_siblings_spouses              2
parch                           0
fare                         73.5
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 26, dtype: object
0.3222411870956421 : 0


sex                          male
age                          54.0
n_siblings_spouses              0
parch                           1
fare                      77.2875
class                       First
deck                            D
embark_town           Southampton
alone                           n
Name: 27, dtype: object
0.5260898470878601 : 0


sex                        male
age                        12.0
n_siblings_spouses            1
parch                         0
fare                    11.2417
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         n
Name: 28, dtype: object
0.25766128301620483 : 1


sex                      female
age                        28.0
n_siblings_spouses            1
parch                         1
fare                    22.3583
class                     Third
deck                          F
embark_town           Cherbourg
alone                         n
Name: 29, dtype: object
0.8922559022903442 : 1


sex                        male
age                        33.0
n_siblings_spouses            0
parch                         0
fare                     7.8958
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         y
Name: 30, dtype: object
0.21441195905208588 : 0


sex                        female
age                          29.0
n_siblings_spouses              1
parch                           0
fare                         26.0
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 31, dtype: object
0.8583036065101624 : 1


sex                          male
age                          25.0
n_siblings_spouses              0
parch                           0
fare                         13.0
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 32, dtype: object
0.2800082862377167 : 0


sex                        female
age                          24.0
n_siblings_spouses              1
parch                           0
fare                        15.85
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 33, dtype: object
0.7352891564369202 : 1


sex                          male
age                          19.0
n_siblings_spouses              1
parch                           1
fare                        36.75
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 34, dtype: object
0.35804271697998047 : 0


sex                          male
age                          27.0
n_siblings_spouses              0
parch                           0
fare                       7.7958
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 35, dtype: object
0.14498811960220337 : 1


sex                          male
age                          36.5
n_siblings_spouses              0
parch                           2
fare                         26.0
class                      Second
deck                            F
embark_town           Southampton
alone                           n
Name: 36, dtype: object
0.2636755108833313 : 0


sex                          male
age                          42.0
n_siblings_spouses              0
parch                           0
fare                         13.0
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 37, dtype: object
0.2370840311050415 : 0


sex                        female
age                          22.0
n_siblings_spouses              1
parch                           0
fare                         66.6
class                       First
deck                            C
embark_town           Southampton
alone                           n
Name: 38, dtype: object
0.9269574284553528 : 1


sex                          male
age                          30.0
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 39, dtype: object
0.1404097080230713 : 0


sex                        female
age                          40.0
n_siblings_spouses              0
parch                           0
fare                        15.75
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 40, dtype: object
0.8367527723312378 : 1


sex                          male
age                           9.0
n_siblings_spouses              0
parch                           2
fare                       20.525
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 41, dtype: object
0.1346157044172287 : 1


sex                        female
age                          45.0
n_siblings_spouses              1
parch                           4
fare                         27.9
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 42, dtype: object
0.6224096417427063 : 0


sex                          male
age                          28.0
n_siblings_spouses              0
parch                           0
fare                       25.925
class                       First
deck                      unknown
embark_town           Southampton
alone                           y
Name: 43, dtype: object
0.3683221638202667 : 0


sex                          male
age                          61.0
n_siblings_spouses              0
parch                           0
fare                         33.5
class                       First
deck                            B
embark_town           Southampton
alone                           y
Name: 44, dtype: object
0.4146216809749603 : 0


sex                        female
age                           1.0
n_siblings_spouses              1
parch                           1
fare                      11.1333
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 45, dtype: object
0.8069092631340027 : 1


sex                          male
age                          21.0
n_siblings_spouses              0
parch                           0
fare                        7.925
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 46, dtype: object
0.15522456169128418 : 0


sex                        male
age                        56.0
n_siblings_spouses            0
parch                         0
fare                    30.6958
class                     First
deck                          A
embark_town           Cherbourg
alone                         y
Name: 47, dtype: object
0.5177298784255981 : 0


sex                          male
age                           1.0
n_siblings_spouses              2
parch                           1
fare                         39.0
class                      Second
deck                            F
embark_town           Southampton
alone                           n
Name: 48, dtype: object
0.44110867381095886 : 1


sex                          male
age                          28.0
n_siblings_spouses              0
parch                           0
fare                         50.0
class                       First
deck                            A
embark_town           Southampton
alone                           y
Name: 49, dtype: object
0.5124862790107727 : 0


sex                         male
age                         40.0
n_siblings_spouses             1
parch                          1
fare                        15.5
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          n
Name: 50, dtype: object
0.17482928931713104 : 0


sex                          male
age                          19.0
n_siblings_spouses              0
parch                           0
fare                         13.0
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 51, dtype: object
0.2962433695793152 : 0


sex                          male
age                          42.0
n_siblings_spouses              0
parch                           1
fare                       8.4042
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 52, dtype: object
0.11781683564186096 : 0


sex                        male
age                        45.5
n_siblings_spouses            0
parch                         0
fare                      7.225
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         y
Name: 53, dtype: object
0.18707019090652466 : 0


sex                          male
age                          18.0
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 54, dtype: object
0.16062937676906586 : 1


sex                          male
age                          24.0
n_siblings_spouses              0
parch                           0
fare                         7.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 55, dtype: object
0.14915966987609863 : 0


sex                          male
age                          30.0
n_siblings_spouses              0
parch                           0
fare                         13.0
class                      Second
deck                      unknown
embark_town           Southampton